.container {
  display: flex;
  flex-direction: column;
  /* flex-flow: row wrap; */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 90%;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upload-form {
  width: 100%;
  margin-top: 30px;
}

.filecard-container {
  border-radius: 25px;
  width: 500px;
  margin-bottom: 30px;
}

.filename {
  width: 400px;
}

.upload-actions {
  display: inline-flex;
}
