.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.filecard-container {
  border-radius: 25px;
  width: 500px;
  margin-bottom: 30px;
}

.filename {
  width: 400px;
}
